<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content=""/>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>

    <title th:text="${name}"></title>

    <meta property="og:type" content="website"/>
    <meta property="og:url" content="www.l.de/karriere/angebot/teamleiter-lager-m-w-d-_400"/>
    <meta property="og:title" content="Teamleiter Lager (m/w/d) "/>
    <meta property="og:description" content="Ihre Aufgaben

Wahrnehmung der Führungsverantwortung entsprechend der Führun"/>
    <meta property="og:image" content="https://www.l.de/file/image/5092/e"/>


    <link href="https://www.l.de/assets/images/favi.png" rel="shortcut icon"/>

    <link rel="stylesheet" th:href="@{css/main.css}"/>
    <link rel="stylesheet" th:href="@{css/jquery-ui.css}"/>
    <link rel="stylesheet" type="text/css" href="@{css/ie10.css}"/>

</head>

<body class="group-without-sidebar ">
<div id="maincontent" class="underlinelinks">
    <div class="fullwidth">
        <div class="content">
            <div class="staffing_showDetailSecond">
                <div class="staff_detail">
                    <div class="row contain_row">
                        <div class="grid-3-4">
                            <div class="text_show padding_right">
                                <h2>Job:</h2>
                                <ul>
                                    <li>
                                        <td th:text="${stelle.jobbezeichnung}"></td>
                                    </li>
                                </ul>

                                <h2>Ihre Aufgaben sind:</h2>
                                <ul>
                                    <li>
                                        <td th:text="${stelle.aufgaben}"></td>
                                    </li>
                                </ul>
                            </div>
                            <div class="text_show padding_right margin_top">
                                <h2>Die Kategorie ist:</h2>
                                <ul>
                                    <li>
                                        <td th:text="${stelle.kategorie}"></td>
                                    </li>
                                </ul>
                            </div>
                            <div class="text_show padding_right margin_top">
                                <h2>Bitte wenden Sie sich bei Fragen an:</h2>
                                <ul>
                                    <li>
                                        <td th:text="${stelle.kontaktperson}"></td>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>